<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Post Hurricane Damage Detector</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>

    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Website</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/predict">Predict</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>


      <div class="container">
        <form action="/predict" enctype="multipart/form-data" method="POST">
          <div class="mb-3">
            <div class="text-center">
            <label for="im" class="my-4 form-label">Choose the image to upload</label>
            </div>
            <input type="file" class="form-control " id="im" name="im" accept=".png,.jpg,.jpeg" required>
          </div>
          <div class="text-center">
          <button type="submit" class="btn btn-primary">Predict</button>
          </div>
        </form>
      </div>

      <div class="mt-5 container">
        {% if pred_sent == "Damaged" %}
        <div class="alert alert-danger" role="alert">
          <div class="row">
            <div class="col">
              <img src="../static/{{imName}}" height="339" width="509">
            </div>
            <div class="mt-5 pt-5 h5 col text-center">
              <br>
              <br>
              Damage has been detected
            </div>
        </div>
        {% endif %}
        {% if pred_sent == "Not damaged" %}
        <div class="alert alert-success" role="alert">
          <div class="row">
            <div class="col">
              <img src="../static/{{imName}}" height="339" width="509">
            </div>
            <div class="mt-5 pt-5 h5 col text-center">
              <br>
              <br>
              No Damage has been detected
            </div>
        </div>
        {% endif %}
      </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>